<!-- Start Footer -->
<div id="footer">
  <!-- Start Footer Top -->
  <div id="footertop">
    <div class="footerwrap">
      <!-- Start Latest Tweets -->
      <div id="latest-tweets">
        <div id="twittertitle">Latest Tweets</div>
        <div id="twitterbody">
          <ul class="tweet_list">
            <li class="tweet_first tweet_odd"><a class="tweet_avatar" href="#"><img src="/assets/images/small-twitter.png" border="0" alt=""></a><span class="tweet_time"><a href="#">about a day ago</a></span> <span class="tweet_join">we were checking out</span> <span class="tweet_text">"Stella Studios Responsive Wordpress Theme" by UBL - <a href="#">domain.com</a></span></li>
            <li class="tweet_even"><a class="tweet_avatar" href="#"><img src="/assets/images/small-twitter.png" border="0" alt=""></a><span class="tweet_time"><a href="#">about a day ago</a></span> <span class="tweet_join">we said,</span> <span class="tweet_text">Lola Responsive Html Theme Coming Soon!</span></li>
            <li class="tweet_odd"><a class="tweet_avatar" href="#"><img src="/assets/images/small-twitter.png" border="0" alt=""></a><span class="tweet_time"><a href="#">about 2 days ago</a></span> <span class="tweet_join">we were checking out</span> <span class="tweet_text">To all our customers, We invite you to follow us on facebook for all the latest news, Wordpress themes &amp; freebies - <a href="#">domain.com</a></span></li>
          </ul>
        </div>
      </div>
      <!-- End Latest Tweets -->
      <!-- Start Useful Links -->
      <div id="useful_links">
        <div id="usefultitle">Latest Tweets</div>
        <div id="usefulbody">
          <ul>
            <li><a href="#">Lorem ipsum dolor sit </a></li>
            <li><a href="#">Maecenas non ipsum nunc</a></li>
            <li><a href="#">Lorem ipsum dolor </a></li>
            <li><a href="#">Maecenas non ipsum </a></li>
            <li><a href="#">Lorem ipsum dolor sit </a></li>
            <li><a href="#">Maecenas non ipsum nunc</a></li>
            <li><a href="#">Lorem ipsum dolor </a></li>
            <li><a href="#">Maecenas non ipsum </a></li>
            <li><a href="#">Lorem ipsum dolor sit </a></li>
            <li><a href="#">Maecenas non ipsum nunc</a></li>
          </ul>
        </div>
      </div>
      <!-- End Useful Links -->
      <!-- Start Testimonials -->
      <div id="latest-testimonial">
        <div id="testimonialtitle">Latest Testimonials</div>
        <div id="testimonialbody">
          <!-- Starting simple slider -->
          <div id="simpleslider">
            <!-- Slide 1 -->
            <div class="current">
              <h6>Title 1</h6>
              <p>Lorem ipsum dolor sit amet, consectetur elit. Maecenas non ipsum nunc, nec sagittis tellus. Lorem ipsum dolor sit amet, consectetur elit. Maecenas non ipsum nunc</p>
            </div>
            <!-- End Slide 1 -->
            <!-- Slide 2 -->
            <div>
              <h6>iusdhfisd sdf</h6>
              <p>Lorem ipsum dolor sit amet, consectetur elit. Maecenas non ipsum nunc, nec sagittis tellus. Lorem ipsum dolor sit amet, consectetur elit. Maecenas non ipsum nunc</p>
            </div>
            <!-- End Slide 2 -->
            <!-- Slide 3 -->
            <div>
              <h6>eco sodalirity ltd</h6>
              <p>Lorem ipsum dolor sit amet, consectetur elit. Maecenas non ipsum nunc, nec sagittis tellus. Lorem ipsum dolor sit amet, consectetur elit. Maecenas non ipsum nunc</p>
            </div>
            <!-- End Slide 3 -->
            <!-- Slide 4 -->
            <div>
              <h6>asd</h6>
              <p>Lorem ipsum dolor sit amet, consectetur elit. Maecenas non ipsum nunc, nec sagittis tellus. Lorem ipsum dolor sit amet, consectetur elit. Maecenas non ipsum nunc</p>
            </div>
            <!-- End Slide 4 -->
            <!-- Slide 5 -->
            <div>
              <h6>ec234234234</h6>
              <p>Lorem ipsum dolor sit amet, consectetur elit. Maecenas non ipsum nunc, nec sagittis tellus. Lorem ipsum dolor sit amet, consectetur elit. Maecenas non ipsum nunc</p>
            </div>
            <!-- End Slide 5 -->
          </div>
          <!-- Ending simple slider -->
          <div class="speachlower"></div>
        </div>
      </div>
      <!-- End Latest Testimonials -->
    </div>
  </div>
  <!-- End Footer Top -->
  <div class="clear"></div>
  <!-- Start Footer Bottom -->
  <div id="footerbottom">
    <div class="footerwrap">
      <!-- Start Copyright Div -->
      <div id="copyright">&copy;2012.Response - All rights reserved! - Theme by <a target="_blank" href="http://www.derby-web-design-agency.co.uk">UBL Designs</a></div>
      <!-- PLEASE SUPPORT US BY LEAVING THIS LINK -->
      <!-- End Copyright Div -->
      <!-- Start Social area -->
      <div class="socialfooter">
        <ul>
          <li><a href="#" class="social-google"></a></li>
          <li><a href="#" class="social-facebook"></a></li>
          <li><a href="#" class="social-twitter"></a></li>
          <li><a href="#" class="social-linkedin"></a></li>
          <li><a href="#" class="social-forrst"></a></li>
          <li><a href="#" class="social-dribbble"></a></li>
        </ul>
      </div>
      <!-- End Socialarea -->
    </div>
  </div>
  <!-- End Footer Bottom -->
</div>
<!-- End Footer -->
<!-- Start Scroll To Top Div -->
<div id="scrolltab"></div>
<!-- End Scroll To Top Div -->