<div id="header">
  <!-- Start navigation area -->
  <div id="navigation">
    <div id="navigation_wrap">
      <!-- Start contact info area -->
      <div id="conteactinfo">
        <strong>Email:</strong> info@varrange.xyz |
        <strong>Mobile:</strong> (+91) 9999 03 8818</div>
      <!-- End contact info area -->
      <!-- Start navigation -->
      <div id="navi">
        <ul>
          <li>
            <a routerLink="/home">Home</a>
          </li>
          <li>
            <a routerLink="/blog">Blog</a>
          </li>
          <!-- <li>
            <a routerLink="/blogpost">Blog Post</a>
          </li> -->
          <li>
            <a routerLink="/contactus">Contact Us</a>
          </li>
        </ul>
      </div>
      <!-- End navigation -->
    </div>
  </div>
  <!-- End navigation area -->
  <div class="clear"></div>
  <!-- Start Social & Logo area -->
  <div id="header_small">
    <!-- Start Social area -->
    <div class="social">
      <ul>
        <li>
          <a href="https://www.plus.google.com" target="_blank" class="social-google"></a>
        </li>
        <li>
          <a href="https://www.facebook.com" target="_blank" class="social-facebook"></a>
        </li>
        <li>
          <a href="https://www.twitter.com" target="_blank" class="social-twitter"></a>
        </li>
        <li>
          <a href="https://www.linkedin.com" target="_blank" class="social-linkedin"></a>
        </li>
        <!-- <li><a href="#" class="social-forrst"></a></li>
        <li><a href="#" class="social-dribbble"></a></li> -->
      </ul>
    </div>
    <!-- End Socialarea -->
    <!-- Start Logo area -->
    <div id="logo">
      <a routerLink="">varrange</a>
    </div>
    <!-- End Logo area -->
  </div>
  <!-- End Social & Logo area -->
</div>